.mission{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mission__image{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    width: 1200px;
    background-image: url('../images/folha-cha.jpg');
}

.title{
    background-color: black;
    text-align: center;
    width: 100%;
}